header {
    height: 70px;
    width: 100%;
    color: white;
    border-bottom: 1px solid #CCCCCC;
}

.icon {
    height: 50px;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
}